* {margin: 0; padding: 0;
box-sizing: border-box;
}

body{font-family: "Poppins", sans-serif;}


header {border-bottom: 1px solid rgb(182, 170, 170);
height: 5rem;
padding: 1rem 0;
}

.container {width: 100%;
height: 100%;
max-width: 1320px;
margin-left: auto;
margin-right: auto;
padding-left: 1rem;
padding-right: 1rem;
}

#logo,h1,h2,h3,h4,h5,h6 {font-family: "Playfair Display", serif;
}

h1, .h1 {font-size: 2.986rem;
margin-bottom: 3rem;
}

h2, .h2 {font-size: 2.488rem;
}

h3, .h3 {font-size: 2.074rem;
}

h4, .h4 {font-size: 1.728rem;
}

h5, .h5 {font-size: 1.44rem;
}
h6, .h6 {font-size: 1.2rem;
}

p, .p {font-size: 1rem;
color: rgb(36, 34, 34);
line-height: 164%;
}

.small {font-size: 0.833rem;
}


header .container {display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

#logo {font-size: 1.5rem;
text-decoration: none;
color: rgb(0, 0, 0);}

nav ul {display: flex;
flex-direction: row;
align-items: center;
gap: 1.5rem;
list-style: none;
}

nav a {color: rgb(75, 71, 71);
text-decoration: none;
}

.iconlinks {display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;
}

.iconlinks a {color: black;
text-decoration: none;
}

section {padding: 4rem 0;
}

#section1 .container {display: grid;
grid-template-columns: 1fr 1fr;
gap: 4rem;
}

#images {display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
gap: 0.5rem;
aspect-ratio: 1/1;
}

#images img {height: 100%;
width: 100%;
}

#img1 {grid-row: 1 /span 1;
grid-column: 1 / span 1;
}

#img2 {grid-row: 2 /span 1;
    grid-column: 1 / span 1;
}

#img3 {grid-row: 3 /span 1;
    grid-column: 1 / span 1;
}

#img4 {grid-row: 4 /span 1;
    grid-column: 1 / span 1;
}

#mainimg {grid-row: 1 / span 4;
grid-column: 2 / span 3;
}

.varient {display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;
margin-bottom: 1.5rem;
list-style: none;}

.varient img {width: 4rem;
height: 4rem;
border-radius: 50%;
}

.captions {display: flex;
flex-direction: column;
}

.captions #caption1 {margin-top: 2rem;
    margin-bottom: 2rem;
}

.captions #caption2 {margin-bottom: 1rem;
}

.captions #caption3 {margin-bottom: 1.5rem;
}

.price {display: inline-block;
color: rgb(83, 80, 80);
margin-bottom: 1rem;
}

.buttonholder {display: grid;
grid-template-columns: 1fr 1fr;
gap: 1rem;
margin-top: 2.5rem;}

.button {display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 1rem;
text-decoration: none;
border-radius: 0.3rem;
;}

.buttonprimary {
color: white;
background-color:black;
border: none;}

.buttonsecondary {background-color: white;
color:black; border: 1px solid black;
width: 100%;
}

.productlist {display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
gap: 1rem;
margin-top: 2rem;
}

.product img {width: 100%;
}

.priceandbutton {display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.product {box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.productdetails {padding-left: 0.5rem;
padding-right: 0.5rem;
padding-bottom: 1rem;
border-radius: 1rem;}